{{ 'custom-banner.css' | asset_url | stylesheet_tag }}
<script src="{{ 'custom-banner.js' | asset_url }}" defer="defer"></script>

<div class="section-wrapper bg-gradient">
    <div class="container">
        <h2>
            Somos una tienda de alto impacto con más de <span id="orders">0</span> órdenes entregadas y más de <span id="customers">0</span> clientes a nivel mundial.
        </h2>
    </div>
</div>